* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background: linear-gradient(to right, rgb(11, 4, 78), rgb(28, 2, 90));
  font-family: 'Courier New', Courier, monospace;
}

.habits_container {
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.habit_card {
  padding-inline: 30px;
  padding-block: 20px;
  margin: 10px;
  border: 1px solid rgb(95, 78, 78);
  border-radius: 15px;
  color: white;
  background: linear-gradient(to right, rgb(74, 28, 182), rgb(45, 26, 214));
  box-shadow:
    0px 0px 30px 15px rgb(71, 17, 197),
    0px 0px 30px 10px rgb(31, 13, 194);
}

.habit_card p {
  padding-block: 15px;
}

.habit_card h2 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 30px;
  color: rgb(158, 158, 255);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.mark-btn {
  height: 35px;
  width: 125px;
  border-radius: 8px;
  border: none;
  justify-self: center;
  cursor: pointer;
  background: linear-gradient(to right, rgb(96, 233, 114), rgb(139, 146, 209));
  color: white;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.4s ease;
  margin-inline: 15px;
}

.delete-btn{
  height: 35px;
  width: 125px;
  border-radius: 8px;
  border: none;
  justify-self: center;
  cursor: pointer;
  background: linear-gradient(to right, rgb(131, 84, 84), rgb(245, 0, 0));
  color: white;
  font-weight: bolder;
  font-size: 15px;
  transition: 0.4s ease;
  margin-inline: 15px;
}

.mark-btn:hover {
  background: linear-gradient(to right, rgb(116, 185, 119), rgb(26, 185, 60));
  box-shadow: 0px 0px 15px 10px rgb(66, 167, 66);
  border: none;
  transform: translateY(-3px);
}

.delete-btn:hover{
  background: linear-gradient(to right, rgb(231, 5, 5), rgb(224, 67, 67));
  box-shadow: 0px 0px 15px 10px rgb(197, 42, 4);
  border: none;
  transform: translateY(-3px);
}

.add_habit {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

.add_habit button {
  height: 50px;
  width: 100px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 0px 30px 10px rgb(67, 114, 245);
  border: none;
  background-color: rgb(11, 4, 78);
  text-align: center;
  color: gray;
  transition: 0.4s ease;
}

.add_habit button:hover {
  transform: translateY(-4px);
  background-color: rgb(67, 114, 245);
  color: white;
  box-shadow: 0px 0px 10px 10px rgb(67, 114, 245);
}

.add_habit input {
  height: 50px;
  margin-right: 50px;
  border-radius: 20px;
  box-shadow: 0px 0px 30px 10px rgb(67, 114, 245);
  border: none;
  background-color: rgb(11, 4, 78);
  text-align: center;
  color: white;
  transition: 0.4s ease;
}

.habit_card.completed {
  background-color: #2e7d23;
  text-decoration: line-through;
}

.isCompleted {
  height: 25px;
  width: 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
}

.habit_card.completed {
  background-color: #82b609;
  opacity: 0.3;
}
.habit_card.completed h2 {
  text-decoration: line-through;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.habits_container,
.add_habit {
  animation: fadeInUp 1s ease-out;
}
