* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #18181b;
}

.app {
  position: relative;
  min-height: 100vh;
}

.content {
  position: relative;
  z-index: 2;
}

.habitsContainer {
  display: flex;
  min-width: 300px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.habitsContainer {
  animation: fadeInUp 1s ease-out;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: #e2e2e6;
  font-size: 24px;
  position: relative;
  z-index: 2;
}